{% extends 'layouts/admin.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<head>
    <title>User Data</title>
    <meta name="description" content="user List">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-1.8.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
</head>
<div class="page-header">
    <h1>Welcome Admin</h1>
</div>
<p class="lead"> As an admin you can perform the following activities </p>
<script>
    $(document).ready(function() {
    	$('#example').dataTable( {
    		"sDom": "<'row-fluid'<'span6 toolbar'><'span6'>r>t<'row-fluid'<'span6'f><'span6'p>>",
    		"bProcessing": true,
    		"bjQueryUI": true,
    		"sAjaxSource": "{{ url_for('get_server_data') }}",
    	});
    } );
</script>
<body>
    <div class="container">
        <table class='table' id='example'>
            <thead>
                <tr>
                    {% for col in columns %}
                    <th>{{ col }}</th>
                    {% endfor %}
                </tr>
            </thead>
        </table>
    </div>
</body>
{% endblock %}