{% extends 'layouts/user.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="page-header">
   <h1>Welcome {{ user }}</h1>
</div>
<p class="lead"> List of GraphCollections</p>
<form action="" method="get" class="form" >
   <body>
      <a href="{{ url_for('.gc_list') }}"class="btn btn-warning" role="button">List of  GraphCollections</a>
      <br><br>
      <p class="text-warning"> D3</p>
      <img src="/static/img/d3.jpg"> 
      <br>
      <br>
      <style type="text/css" media="screen">
         table { border: 1px solid black;float:left;width:148px;}
         #table_container{width:300px;margin:0 auto;}
      </style>
      <div id="table_container">
         <table>
            <tr>
               <th>a</th>
               <th>b</th>
            </tr>
            <tr>
             <td >
                     <a href="{{ url_for('.dc_stats',data='ds11334') }}">DataSet #11334</a>  
                  </td>
                  <td class = ".table-hover">
                     Apr 14,2014.
                  </td>
            </tr>
            <tr>
              <td >
                     <a href="{{ url_for('.dc_stats',data='ds11334') }}">DataSet #11334</a>  
                  </td>
                  <td class = ".table-hover">
                     Apr 14,2014.
                  </td>
            </tr>
            <tr>
               <td>16</td>
               <td>25</td>
            </tr>
            <tr>
               <th>a</th>
               <th>b</th>
            </tr>
            <tr>
               <td>1</td>
               <td>2</td>
            </tr>
            <tr>
               <td>4</td>
               <td>9</td>
            </tr>
            <tr>
               <td>16</td>
               <td>25</td>
            </tr>
         </table>
         <table>
            <tr>
               <th>a</th>
               <th>b</th>
            </tr>
            <tr>
               <td>1</td>
               <td>2</td>
            </tr>
            <tr>
               <td>4</td>
               <td>9</td>
            </tr>
            <tr>
               <td>16</td>
               <td>25</td>
            </tr>
         </table>
      </div>
      
      
      <style>
         .col {
         float: left;
         margin: 0 9px 0 0;
         }
         
         .b incorrect{
         float: left
         }
      </style>
      <div class="col">
         <table cellpadding="0" cellspacing="0">
            <tbody>
               <tr>
                  <th>Europe</th>
               </tr>
               <tr>
                  <td>
                     <div class="b incorrect" id="c2">Albania</div>
                  </td>
               </tr>
               <tr>
                  <td style="text-align: center; vertical-align: middle;" class = ".table-hover">
                     <input type="radio" name="textbox">    
                  </td>
                  <td >
                     <a href="{{ url_for('.dc_stats',data='ds11334') }}">DataSet #11334</a>  
                  </td>
                  <td class = ".table-hover">
                     Apr 14,2014.
                  </td>
               </tr>
               <tr>
                  <td class = ".table-hover" style="text-align: center; vertical-align: middle;">
                     <input type="radio" name="textbox">    
                  </td>
                  <td>
                     <a href="{{ url_for('.dc_stats',data='ds53677') }}">DataSet #53677</a>
                  </td>
                  <td>
                     Apr 14, 2014.	
                  </td>
               </tr>
               <tr>
                  <td>
                     <div class="b incorrect" id="c4">Andorra</div>
                  </td>
               </tr>
               <tr>
                  <td>
                     <div class="b incorrect" id="c10">Austria</div>
                  </td>
               </tr>
               <tr>
                  <td>
                     <div class="b incorrect" id="c16">Belarus</div>
                  </td>
               </tr>
               <tr>
                  <td>
                     <div class="b incorrect" id="c17">Belgium</div>
                  </td>
               </tr>
               <tr>
                  <td>
                     <div class="b incorrect" id="c22">Bosnia and Herzegovina</div>
                  </td>
               </tr>
               <tr>
                  <td>
                     <div class="b incorrect" id="c26">Bulgaria</div>
                  </td>
               </tr>
             
            </tbody>
         </table>
      </div>
      <div class="col">
         <table cellpadding="0" cellspacing="0">
            <tbody>
               <tr>
                  <th>Europe</th>
               </tr>
               <tr>
                  <td>
                     <div class="b incorrect" id="c2">Albania</div>
                  </td>
               </tr>
                <tr>
                  <td>
                     <div class="b incorrect" id="c184">Ukraine</div>
                  </td>
               </tr>
               <tr>
                  <td>
                     <div class="b incorrect" id="c186">United Kingdom</div>
                  </td>
               </tr>
               <tr>
                  <td>
                     <div class="b incorrect" id="c191">Vatican City</div>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
   </body>
</form>
{% endblock %}