{% extends 'layouts/user.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<!-- <div class="page-header">
   <h1>Welcome {{ user }}</h1>
</div> -->
<p class="lead"> List of GraphCollections</p>
<form action="" method="get" class="form" >
   <body>
       <a href="{{ url_for('.gc_list') }}"> <<< Back to List GraphCollections</a>
      <br><br>
      <p class="text-danger"> Sample D3</p>
      <img src="/static/img/d3.jpg"> 
      <br>
      <br>

      </div>
      </div>
   </body>
</form>
{% endblock %}