{% extends 'layouts/admin.html' %}
{% block title %}Admin Page{% endblock %}
{% block content %}

<div class="page-header">
  <h1>Welcome Admin</h1>
</div>
<p class="lead"> As an admin you can perform the following activities </p>
<p class = "lead"> {{ url_for('get_user_data') }} </p>


&lt;
&lt;
&lt;
&lt;
&lt;
&lt;





<form action="" method="post" class="form" >

<body>
	<div class="container">
	<table class="table table-hover">
		
		<tr>
				{% for col in columns %}
				<th>{{ col }}</th>
				{% endfor %}
		
		<tr>	
				
				{% for v in results %}
				<td>{{ v.No }}</td>
				<td>{{ v.Name }}</td>
				{% endfor %}
				
			</tr>	
			
		
	</table>
	</div>
</body>


<input type="submit" value="List Users" class="form-control" >
<input type="submit" value="Delete Users" class="form-control" >
<input type="submit" value="Approve Users" class="form-control" >
</form> 

{% endblock %}

<!-- Need to change all the image locations to local folders-->

<!--
<a href="{{ url_for('home') }}"> <img style="border:0px;" src="http://images.webestools.com/buttons.php?frm=1&btn_type=51&txt=Add%20Users" onmouseover="this.src='http://images.webestools.com/buttons.php?frm=2&btn_type=51&txt=Add%20Users'" onmouseout="this.src='http://images.webestools.com/buttons.php?frm=1&btn_type=51&txt=Add%20Users';" alt="Add%20Users" /></a><script type="text/javascript">img=new Image();img.src= "http://images.webestools.com/buttons.php?frm=2&btn_type=51&txt=Add%20Users";</script>

<a href="{{ url_for('home') }}"> <img style="border:0px;" src="http://images.webestools.com/buttons.php?frm=1&btn_type=51&txt=Approve%20Users" onmouseover="this.src='http://images.webestools.com/buttons.php?frm=2&btn_type=51&txt=Approve%20Users'" onmouseout="this.src='http://images.webestools.com/buttons.php?frm=1&btn_type=51&txt=Approve%20Users';" alt="Approve%20Users" /></a><script type="text/javascript">img=new Image();img.src= "http://images.webestools.com/buttons.php?frm=2&btn_type=51&txt=Approve%20Users";</script>

<a href="{{ url_for('home') }}"> <img style="border:0px;" src="http://images.webestools.com/buttons.php?frm=1&btn_type=51&txt=List%20Users" onmouseover="this.src='http://images.webestools.com/buttons.php?frm=2&btn_type=51&txt=List%20Users'" onmouseout="this.src='http://images.webestools.com/buttons.php?frm=1&btn_type=51&txt=List%20Users';" alt="List%20Users" /></a><script type="text/javascript">img=new Image();img.src= "http://images.webestools.com/buttons.php?frm=2&btn_type=51&txt=List%20Users";</script>

<a href="{{ url_for('home') }}"> <img style="border:0px;" src="http://images.webestools.com/buttons.php?frm=1&btn_type=51&txt=Delete%20Users" onmouseover="this.src='http://images.webestools.com/buttons.php?frm=2&btn_type=51&txt=Delete%20Users'" onmouseout="this.src='http://images.webestools.com/buttons.php?frm=1&btn_type=51&txt=Delete%20Users';" alt="Delete%20Users" /></a><script type="text/javascript">img=new Image();img.src= "http://images.webestools.com/buttons.php?frm=2&btn_type=51&txt=Delete%20Users";</script>

-->

